#contact {
  background-color: var(--secondary-bg);
}

#contact-section {
  padding-top: 70px;
  margin-top: -70px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
