#locations {
  background-color: var(--secondary-bg);
}

#locations-section {
  padding-top: 70px;
  margin-top: -70px;
}

.locations-grid {
  display: grid;
  gap: 20px;
  margin-top: 40px;
  grid-template-columns: repeat(3, 1fr);
}

.location-item {
  background-color: var(--nav-bg);
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-left: 3px solid var(--highlight-color);
  border-radius: 4px;
}

.location-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Container for the location name and map icon */
.location-name {
  display: flex;
  justify-content: space-between; /* Align the name on the left and the icon on the right */
  align-items: center;
  margin-bottom: 10px; /* Space between name and address */
}

.location-name h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

/* Map icon styling */
.map-icon {
  font-size: 20px;
  color: var(--highlight-color);
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Hover effect: change color and scale on hover */
.location-item:hover .map-icon {
  color: var(--highlight-hover);
  transform: scale(1.2);
}

.location-details, .location-address {
  font-size: 0.9rem;
}

.new-badge {
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: var(--badge-new);
  color: var(--text-primary);
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  transform: rotate(-15deg);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--text-primary);
  z-index: 1;
}

.location-item:hover .new-badge {
  transform: rotate(-10deg) scale(1.05);
}

.info-window {
  padding: 0px 10px 0 10px;
  color: black;
  max-width: 250px;
}

.info-window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-window-header h3 {
  margin: 0;
  font-size: 16px;
  color: black;
}

.info-window a {
  color: var(--link-color);
  text-decoration: none;
}

.info-window a:hover {
  text-decoration: underline;
}

.info-window p {
  margin: 5px 0;
  color: black;
}

.info-window-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-top: 10px;
}

.map-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.reset-button.hidden {
  display: none;
}
