.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--mid-gray); /* Use your existing color scheme */
  text-align: center;
  color: var(--light-gray);
}

.not-found-logo {
  width: 200px;
  margin-bottom: 20px;
}

.not-found-container h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: var(--highlight-color); /* Matches your branding */
}

.not-found-container p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.home-button {
  background-color: var(--highlight-color);
  color: var(--dark-gray);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: var(--highlight-hover);
}