/* TournamentTools.css */

/* General Container Styles */
.tournament-tools-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.tournament-tools-container > h1,
.tournament-tools-container > div {
  flex-shrink: 0;
}

.tournament-tools-container > div {
  margin-top: 10px;
}

.tournament-tools-container > .footer-placeholder {
  flex-grow: 1;
}

/* Section Containers */
.section-container {
  flex: 1;
  min-width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid var(--table-border);
  border-radius: 4px;
  background-color: var(--secondary-bg);
}

/* Layout Adjustments for Larger Screens */
@media (min-width: 900px) {
  .section-container {
    width: calc(33.33% - 20px);
  }
}

/* Flex Container Adjustments */
.tournament-tools-sections {
  display: flex;
  flex-wrap: wrap;
}

/* Top row should take up more space if there are only two sections */
.tournament-tools-sections.top-row .section-container {
  flex: 1; /* Allow sections to grow and take equal space */
  min-width: 45%; /* Ensure sections don't get too narrow */
}

/* Bottom row for three sections */
.tournament-tools-sections.bottom-row .section-container {
  flex: 1;
  min-width: 30%; /* Ensure sections don't get too narrow */
}

.input-container,
.select-container,
.radio-container,
button {
  display: flex;
  align-items: center;
}

/* Input and Button Styles */
.input-container {
  gap: 10px;
  width: 100%;
}

.input-container input,
.input-container select,
.input-container button {
  flex: 1;
}

.add-player-input {
  flex: 1;
}

.add-player-input-small {
  width: 60px;
}

.section-container button,
.input-container button {
  padding: 5px 10px;
  height: 45px;
}

/* Checkbox Styling */
.input-container input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.input-container label {
  font-size: 16px;
  display: flex;
  align-items: center;
}

/* Authentication Container Styles */
.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-container input {
  margin-bottom: 10px;
  padding: 5px;
  width: 200px;
}

.auth-container button {
  padding: 5px 10px;
}

/* Tournament Players section styling */


/* Adjusting input container to have better spacing */
.tournament-players-container .input-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.tournament-players-container .add-player-input {
  flex: 3; /* Allow the Name input to take more space */
}

.tournament-players-container .add-player-input-small {
  flex: 1; /* Smaller inputs take less space */
}

.tournament-players-container button {
  flex: 0 0 auto; /* Prevent the button from growing */
  padding: 5px 10px;
  height: 45px;
  margin: 0;
}

/* Table styling */
.tournament-players-container table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 15px;
}

.tournament-players-container th,
.tournament-players-container td {
  border: 1px solid var(--table-border);
  padding: 8px;
  text-align: left;
  color: var(--text-primary);
}

.tournament-players-container th {
  background-color: var(--quaternary-bg);
}

.tournament-players-container tbody tr:nth-child(odd) {
  background-color: var(--nav-bg);
}

/* Tournament Settings Styles */
.tournament-settings-container .select-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.tournament-settings-container .select-container label {
  flex-shrink: 0; /* Prevent the label from growing */
}

.tournament-settings-container .select-container select {
  flex-grow: 1; /* Allow the select box to take up the remaining space */
}

.tournament-settings-container .radio-container {
  display: flex;
  align-items: center;
  gap: 5px; /* Reduce space between the radio buttons */
  margin-bottom: 10px;
}

.tournament-settings-container .divide-players-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Move the 'Divide Players' button to the right */
  margin-bottom: 10px;
}

/* Add spacing between the label and radio buttons */
.tournament-settings-container .radio-container label {
  margin-right: 10px; /* Space between 'Stat to Use:' and radio buttons */
}

.tournament-settings-container .players-group {
  display: flex;
  justify-content: space-between;
}

.tournament-settings-container .players-group div {
  width: 30%;
}

.tournament-settings-container ul {
  list-style: none;
  padding: 0;
}

.tournament-settings-container ul li {
  background-color: var(--nav-bg);
  border: 1px solid var(--table-border);
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
}

/* Player and Team Cards */
.player-card,
.team-card {
  padding: 10px;
  margin: 5px 0;
  background-color: var(--secondary-bg);
  border: 1px solid var(--table-border);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-card:hover {
  cursor: grab;
  border: 1px solid var(--highlight-color);
}

.team-card {
  cursor: default; /* No dragging cursor for team cards */
}

/* FontAwesome Copy and Shuffle Icons */
.copy-icon,
.shuffle-icon {
  margin-left: 10px;
  cursor: pointer;
  color: var(--highlight-color);
}

.copy-icon:hover,
.shuffle-icon:hover {
  color: var(--highlight-hover);
  font-size: 1.2em;
}

/* Shuffle Animation */
.shuffling {
  animation: shake 0.2s infinite;
}

@keyframes shake {
  0% { transform: translate(0, 0); }
  25% { transform: translate(5px, 5px); }
  50% { transform: translate(0, 0); }
  75% { transform: translate(-5px, -5px); }
  100% { transform: translate(0, 0); }
}

.clear-storage-button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.clear-storage-button:hover {
  background-color: #c9302c;
}

.message {
  position: absolute;
  top: 60px; /* Adjust this value to position the messages below the heading */
  left: 50%;
  min-width: 33%;
  min-height: 50px;
  transform: translateX(-50%);
  padding: 10px;
  margin: 20px 0;
  border-radius: 4px;
  font-size: 1.2em;
  opacity: 1;
  transition: opacity 1s ease-out;
  z-index: 1000; /* Ensure the message is on top */
  display: flex;
  align-items: center;
  justify-content: center;
}

.fade-out {
  opacity: 0;
}

.error-message {
  color: var(--text-primary);
  background-color: rgba(255, 0, 0, 0.05); /* Red with 10% opacity */
  border: 1px solid red;
}

.warning-message {
  color: var(--text-primary);
  background-color: rgba(255, 165, 0, 0.1); /* Orange with 10% opacity */
  border: 1px solid orange;
}

.info-message {
  color: var(--text-primary);
  background-color: rgba(0, 0, 255, 0.1); /* Blue with 10% opacity */
  border: 1px solid blue;
}

.success-message {
  color: var(--text-primary);
  background-color: rgba(0, 128, 0, 0.1); /* Green with 10% opacity */
  border: 1px solid green;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it is on top of other elements */
}

.loading-overlay p {
  color: var(--text-primary);
  font-size: 2em;
  font-weight: bold;
}

.loading-overlay p.status-message {
  font-size: 1.3em; /* Smaller font size */
  margin-top: 5px;
  color: var(--text-secondary);
}

.data-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.instructions {
  flex: 1;
  margin-right: 20px;
  text-align: left;
}

.instructions h3 {
  text-align: center;
  margin-top: 0;
}

.upload-controls {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.file-upload {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.file-upload input[type="file"] {
  margin-right: 10px;
}

.data-upload-container table {
  width: 100%;
  border-collapse: collapse;
  border: 0;
  text-align: left;
}

.data-upload-container table td {
  padding: 5px;
  border: 0;
}

/* Player List Styles */

.player-list-container table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 15px;
}

.player-list-container th,
.player-list-container td {
  border: 1px solid var(--table-border);
  padding: 8px;
  text-align: left;
  color: var(--text-primary);
}

.player-list-container th {
  background-color: var(--quaternary-bg);
}

.player-list-container tbody tr:nth-child(odd) {
  background-color: var(--nav-bg);
}

/* Tournament Money Styles */
.tournament-money-container {
  width: 100%;
}

.tournament-money-grid {
  display: flex;;
  gap: 20px;
}

.tournament-money-container input[type="number"] {
  width: 80px;
  padding: 5px;
}

/* Red and Green Text for Fee Display */
.tournament-money-container .red {
  color: red;
}

.tournament-money-container .green {
  color: green;
}

.tournament-money-container table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--secondary-bg);
  border: 1px solid var(--table-border);
  margin-top: 10px;
  box-sizing: border-box;
}

.tournament-money-container th,
.tournament-money-container td {
  padding: 10px;
  border: 1px solid var(--table-border);
  text-align: left;
  color: var(--text-primary);
}

.tournament-money-container th {
  background-color: var(--quaternary-bg);
  font-weight: bold;
}

.tournament-money-container tbody tr:nth-child(odd) {
  background-color: var(--nav-bg);
}

.tournament-money-container table tr:hover td {
  background-color: var(--quaternary-bg);
}

