@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors */
:root {
  /* Background Colors */
  --background-main: #1E1E1E;         /* Main Dark Gray Background */
  --background-secondary: #2A2A2A;    /* Lighter Dark Gray Background */
  --background-announcement: #252525; /* Announcement Card Background*/
  --background-card: #252525;         /* Card Background*/
  --background-heading: #252525;      /* Header Background */
  --background-footer: #333333;       /* Footer Background */

  /* Text Colors */
  --text-default: #EEEEEE;            /* Very light gray text */
  --text-highlight: #C99F40;          /* Golden Highlight Color */
  --text-link: #6FA2C8;               /* Default link color */

  /* Button Colors */
  --button-background: #3A3A3A;       /* Button Background */

  /* Badge Colors */
  --badge-new: #CE5B45;               /* New badge color */

  /* Border Colors */
  --border-highlight: #C99F40;        /* Golden Highlight Border Color */
}

body {
  background: var(--background-main);
  color: var(--text-default);
}

/* Custom Button Styles */
.button-style {
  @apply flex items-center justify-center p-4 bg-button-background border-2 border-border-highlight text-text-default hover:bg-text-highlight hover:text-background-main transition-colors cursor-pointer rounded-lg shadow-md;
}

.button-style-icon {
  @apply text-text-default hover:text-text-highlight transition-colors;
}

.button-style-text {
  @apply mt-2 text-xs font-normal;
}

/* Custom Link Styles */
.link-style {
  @apply text-text-link hover:underline;
}

.announcement-content a {
  @apply text-text-link hover:underline;
}

a:focus {
  outline: none;
  box-shadow: none;
}
