@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Colors */
:root {
  --color1: #1E1E1E;
  --color2: #2A2A2A;
  --color3: #252525;
  --color4: #333333;
  --color5: #EEEEEE;
  --color6: #C99F40;
  --color7: #6FA2C8;
  --color8: #3A3A3A;
  --color9: #CE5B45;
  --color10: #666666;
  --color11: #999999;
  --color12: #f1f1f1;

  /* Background Colors */
  --background-main: var(--color1);           /* Main Background */
  --background-secondary: var(--color2);      /* Secondary Background */
  --background-announcement: var(--color3);   /* Announcement Card Background */
  --background-card: var(--color3);           /* Card Background */
  --background-heading: var(--color3);        /* Header Background */
  --background-footer: var(--color4);         /* Footer Background */

  /* Text Colors */
  --text-default: var(--color5);              /* Default text */
  --text-highlight: var(--color6);            /* Highlight color */
  --text-link: var(--color7);                 /* Link color */

  /* Button Colors */
  --button-background: var(--color8);         /* Button Background */

  /* Badge Colors */
  --badge-new: var(--color9);                 /* New badge color */
  --badge-today: var(--color7);               /* Today badge */
  --badge-special: var(--color9);             /* Special Event badge */

  /* Border Colors */
  --border-highlight: var(--color6);          /* Highlight Border Color */

  /* Select Box Colors */
  --select-background: var(--color8);         /* Background */
  --select-text: var(--color5);               /* Text */
  --select-border: var(--color5);             /* Border */
  --select-focus-outline: var(--color6);      /* Outline when focused */

  /* Checkbox Colors */
  --checkbox-checkmark: var(--color6);

  /* Past Event Colors */
  --past-event-text: var(--color10);          /* Text color */
  --past-event-badge: var(--color11);         /* Badge color */
  --past-event-background: var(--color12);    /* Background */
}

body {
  background: var(--background-main);
  color: var(--text-default);
}

/* Custom Button Styles */
.button-style {
  @apply flex items-center justify-center p-4 bg-button-background border-2 border-border-highlight text-text-default hover:bg-text-highlight hover:text-background-main transition-colors cursor-pointer rounded-lg shadow-md;
}

.button-style-icon {
  @apply text-text-default hover:text-text-highlight transition-colors;
}

.button-style-text {
  @apply mt-2 text-xs font-normal;
}

/* Custom Link Styles */
.link-style {
  @apply text-text-link hover:underline;
}

.announcement-content a {
  @apply text-text-link hover:underline;
}

a:focus {
  outline: none;
  box-shadow: none;
}
/* Custom Select Box */
select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1rem;
}

/* checkbox checkmark */
input[type="checkbox"]:checked {
  accent-color: var(--checkbox-checkmark);
}
